*{
    box-sizing: border-box;
    font-family: myFont;
    border: 1px solid rgb(255, 255, 255);
}

@font-face{
    font-family: myFont;
    src: url(fonts/SpaceMono-Regular.ttf);
}

@font-face{
    font-family: myFont2;
    src: url(fonts/SpaceMono-Bold.ttf);
}

@font-face{
    font-family: myFont;
    src: url(fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

.nav-bar {
    display: flex;
    border: 1px solid rgb(28, 168, 0);
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}
.nav-bar ul {
    list-style-type: none;
    display: flex;
}

.nav-bar li {
    margin: 10px;
}

.register-button button{
    margin: 8px;
    padding:12px 30px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 10px;
}

#login{
    background-color: #e7e7eb;
}

#signup{
    background-color: #2e2930;
    color: #e7e7eb;
}

.container{
    margin: 8px;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
}

.box-1{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #2e2930;
    border-radius: 30px;
    color: whitesmoke;
}

.box-1 .line-1{
    font-size:15px ;
    padding: 20px;
}
.box-1 .line-2{
    font-size: 38px;
    font-weight: bold;
    padding: 20px;
}

.box-2 {
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    flex: 1;
    height: 500px;
    gap: 10px;
    border-radius: 30px;
}

.card-1{
    padding: 20px;
    height: 50%;
    border-radius: inherit;
    background-color: #d2d9df;
    font-family: myFont2;
    font-size: 27px;
}
.card-2{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: inherit;
}

.card-2 div{
    padding: 20px;
    display: flex;
    flex: 1 1 150px;
    border-radius: inherit;
    font-family: myFont2;
    font-size: 27px;
}

#card-2-1{
    background-color: #b292ff;
    color: white;
}

#card-2-2{
    background-color: #bbff61;
}